@use '../../utils/' as *;


.rs-login {

    &-img {
        height: 100%;

        & img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            height: 100%;
        }
    }

    &-bg {
        height: 100%;
    }

    &-input {
        &-2 {
            position: relative;

            & a {
                position: absolute;
                top: 50%;
                transform: translateY(-85%);
                right: 16px;
            }
        }
    }

    &-form {
        margin: 20px 20px 20px 20px;
        height: 100%;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            border-radius: 16px;
            background: rgba(0, 0, 0, 0.12);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.58);
            backdrop-filter: blur(6px);
            width: 100%;
            height: 95%;
            z-index: -1;
        }

        @media #{$lg} {
            margin: 20px 20px 20px 20px;
        }

        @media #{$md} {
            margin: 20px 20px 20px 20px;
        }

        @media #{$xs} {
            margin: 20px 20px 20px 20px;
        }

        &-title {
            color: var(--tp-white-color);
            font-size: 18px;
            font-weight: 500;
        }

        &-content {
            & form {
                & input {
                    border-radius: 8px;
                    border: 1px solid var(--primary-2600, #1469B5);
                    padding: 16px;
                    margin-bottom: 10px;
                    color: #ddd;
                    padding-right: 60px;

                    &::placeholder {
                        font-size: 12px;
                        letter-spacing: .8px;
                        text-transform: lowercase;
                        font-weight: 400;
                        color: #ddddddd3;
                    }

                    &:focus {
                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
            }
        }

        &-btn {
            & button {
                color: var(--tp-white-color);
                font-size: 18px;
                font-weight: 600;
                background: none;
                border: none;
                border-radius: 8px;
                background: var(--primary-2600, #1469B5);
                border: 1px solid var(--primary-2600, #1469B5);
                padding: 13px 16px;
                width: 100%;
                position: relative;
            }
        }

        &-bottom {
            &-content {
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.16);
                padding: 6px 14px;

                & a {
                    color: var(--tp-white-color);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;

                    & span {
                        color: rgba(255, 255, 255, 0.50);
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                & button {
                    border-radius: 8px;
                    border: 1px solid #2285D5;
                    background: rgba(20, 105, 181, 0.11);
                    color: var(--tp-white-color);
                    font-size: 12px;
                    font-weight: 500;
                    width: 80px;
                    height: 40px;
                    position: relative;
                    transition: 0.5s ease-in-out;

                    &::after {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-radius: 8px;
                        background: var(--tp-primary-color-2);
                        top: 50%;
                        left: 50%;
                        -moz-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        z-index: -1;
                        visibility: hidden;
                        transition: 0.5s ease-in-out;
                    }

                    &:hover {
                        border-color: transparent;

                        &::after {
                            opacity: 1;
                            visibility: visible;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    &-title {
        color: var(--tp-white-color);
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 12px;

        & span {
            color: var(--tp-white-color);
            font-size: 24px;
            font-weight: 500;
            display: block;
        }
    }

    &-center {
        &-content {
            border-bottom: 1px solid rgba(255, 255, 255, 0.24);
        }
    }

    &-forgot-password {
        margin-bottom: 10px;

        & a {
            color: #e6e0e0;
            font-size: 15px;
            font-weight: 500;
            background: rgba(7, 7, 7, 0.368627451);
            padding: 8px;
            border-radius: 4px;
        }
    }
}

.rs-copyright {
    & span {
        color: var(--tp-white-color);
        font-size: 10px;
        font-weight: 300;
        letter-spacing: .5px;
    }

    & a {
        color: var(--tp-white-color);
        font-size: 10px;
        font-weight: 300;
        line-height: 20px;
        transition: .3s linear;

        &:hover {
            text-decoration: underline;
            color: #BB6DFF;
        }
    }

    &-version {
        & a {
            color: var(--tp-white-color);
            font-size: 10px;
            font-weight: 400;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.08);
            width: 57px;
            height: 20px;
            display: inline-block;
            text-align: center;
            line-height: 20px;
        }
    }
}

.rs-login-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    padding: 24px;
    padding-right: 25px;
}

.rs-login-top-content {
    margin-bottom: 15px;
}

.rs-login-center-content {
    margin-bottom: 15px;
}

.rs-contact-area {
    overflow: hidden;
}



html,
.login-body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.rs-contact-area,
.rs-login-bg,
.rs-contact-area .row,
.rs-contact-area .col-6 {
    height: 100%;
}