@mixin tp-placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin transition($args) { 
	-webkit-transition: $args; 
	-moz-transition: $args; 
	-ms-transition: $args; 
	-o-transition: $args; 
	transition: $args; 
  }

  @mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
 }